:root {
  --rx-main-color: #BD945A;
  --rx-bg-color: #F4F1ED;
  --rx-text-color: #15191e;
  --rx-font-heading: 'Rufina', serif;
  --rx-font-body: 'Urbanist', sans-serif;
}

body {
  font-family: var(--rx-font-body);
  background-color: var(--rx-bg-color);
  color: var(--rx-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  font-family: var(--rx-font-heading);
}

p,
.lead {
  font-family: var(--rx-font-body);
}

.pk-landing a {
  text-decoration: none;
}

.pk-landing a:hover {
  text-decoration: none;
}

.pk-landing footer a:hover {
  text-decoration: underline;
  text-underline-offset: 0.22rem;
}

/* Landing page specific button styles */
.pk-landing .btn-primary {
  background-color: var(--rx-main-color);
  border-color: var(--rx-main-color);
  color: white;
  border-radius: 50px;
  /* Pill shape */
  padding: 0.75rem 2rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

.pk-landing .btn-primary:hover {
  background-color: #a37d45;
  /* Darker shade */
  border-color: #a37d45;
  transform: translateY(-2px);
}

.pk-landing .btn-outline-light {
  border-radius: 50px;
  padding: 0.75rem 2rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

.pk-landing .btn-outline-light:hover {
  background-color: white;
  color: var(--rx-text-color);
  transform: translateY(-2px);
}

.pk-landing .btn-outline-primary {
  border-radius: 50px;
  padding: 0.75rem 2rem;
  font-weight: 600;
  transition: all 0.3s ease;
}
