:root {
  --rx-main-color: #BD945A;
  /* Add other color variables here as you identify them */
}

body {
  font-family: 'Urbanist', sans-serif;
  background-color: #F4F1ED;
  /* Or use a variable if you define one for background color */
}

h1 {
  font-family: 'Urbanist', serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

.special-text {
  font-family: 'Rufina', serif;
}

.btn-primary {
  background-color: var(--rx-main-color);
  outline: var(--rx-main-color);
  /* Assuming outline is the same as background */
  color: white;
  /* Assuming text color on button is white */
}

/* Add hover, active, and focus styles for elements here based on your copiedCss.css */
.btn-primary:hover {
  /* Add hover styles for buttons here */
  background-color: white;
  outline: var(--rx-main-color);
}

.btn-primary:active {
  /* Add active styles for buttons here */
  background-color: antiquewhite;
}
